.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.shiny-text.proba {
  color: #393939c6;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.6) 80%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 5s linear infinite;
  display: inline;
}

.shiny-text.italic {
  color: rgba(0, 0, 0, 0.418);
  font-style: italic;
  background-clip: text;
  display: inline;
  animation: shine 5s linear infinite;
}

.shiny-text.titles {
  color: rgba(50, 50, 50, 0.664);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.9) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}
