.contact {
  height: auto;
  background-color: rgb(33, 32, 32);
  border-radius: 2rem;
  margin: 2rem 0 -1rem 0;
  padding: 2rem;
  position: relative;
}

.contactTitleContainer {
  padding-bottom: 12rem;
}

.contactTitle {
  font-size: 7rem;
  letter-spacing: -3px;
  line-height: 7rem;
}

.arrow {
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
}

.contactsLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 55%;
  font-size: 1.7rem;
}

.links {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 5rem;
  height: auto;
}

.cvbtn {
  font-size: 1.7rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(21, 35, 230);
  color: #fff;
  cursor: pointer;
}

.mail {
  text-decoration: none;
  font-size: 2.5rem;
  color: rgb(21, 35, 230);
}

.divider {
  width: 100%;
  height: 0.5px;
  background-color: rgb(70, 67, 67);
  margin: 3rem 0 2rem 0;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.519);
}

@media (max-width: 75em) {
  .contactsLink {
    width: 70%;
  }
}

@media (max-width: 59em) {
  .contactsLink {
    width: 100%;
  }
}

@media (max-width: 44em) {
  .contactTitle {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  .contactsLink,
  .cvbtn {
    font-size: 1.2rem;
  }

  .mail {
    font-size: 1.8rem;
  }
}

@media (max-width: 34em) {
  .contactTitleContainer {
    padding: 2rem 0 8rem 0;
  }

  .contactTitle {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .contactsLink {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mail {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 1.7rem;
  }

  .arrow {
    top: 2%;
  }
}

@media (max-width: 26em) {
  .contactTitleContainer {
    padding-top: 2rem;
  }

  .contactTitle {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .arrow {
    right: 3%;
  }

  .mail {
    font-size: 1.1rem;
  }
}
