.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.logo {
  width: 5rem;
  height: auto;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
  padding-right: 2rem;
}

.cursor:hover {
  color: rgb(156, 158, 168);
}

.ullist {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.mobileNav {
  display: none;
  position: relative;
}

.ullistMobile {
  list-style: none;
}

.sectionContainer {
  display: flex;
  justify-content: end;
}

.smallNumb {
  font-size: 1rem;
  color: rgb(105, 239, 9);
  padding-top: 0.9rem;
}

@media (max-width: 59em) {
  .logo {
    display: none;
  }

  .navbar {
    visibility: hidden;
  }

  .logoMobile {
    width: 5rem;
    height: auto;
    cursor: pointer;
  }

  .mobileNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
  }

  .ullistMobile {
    background: #0c144589;
    backdrop-filter: blur(12px);
    background-size: 200% 200%;

    animation: gradientAnimation 10s ease infinite;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 8;

    text-align: end;
    padding: 4rem 4rem 0 2rem;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: -2rem 0 0 -2rem;

    visibility: none;
    pointer-events: none;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .active {
    pointer-events: auto;
    visibility: visible;
  }

  .hamBtn {
    cursor: pointer;
    z-index: 9;
  }

  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (max-width: 23em) {
  .sectionContainer {
    font-size: 2.6rem;
  }

  .smallNumb {
    padding-top: 0.7rem;
  }
}
