.projectsContainer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  height: auto;
  width: 100vw;
}

.project {
  text-decoration: none;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(100px);
  color: rgb(22, 20, 20);
  height: auto;
  width: 80%;
  text-align: center;

  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem 0;
}

.title {
  font-size: 3.5rem;
}

.descDiv {
  height: 3rem;
  padding: 1rem 0;
}

.imageContainer {
  width: 100%;
  height: auto;
  padding-top: 2rem;
}

.image {
  width: 70%;
  border-radius: 2rem;
}

@media (min-width: 105em) {
  .flex {
    width: 180rem;
  }
}

@media (max-width: 58em) {
  .title {
    font-size: 3rem;
  }

  .image {
    width: 80%;
  }
}

@media (max-width: 56em) {
  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 1rem;
  }

  .image {
    width: 90%;
  }
}

@media (max-width: 26em) {
  .flex {
    width: 75rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .image {
    width: 100%;
  }
}
