.projectsContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 105em) {
  .flex {
    width: 180rem;
  }
}

@media (max-width: 58em) {
  .title {
    font-size: 3rem;
  }

  .image {
    width: 80%;
  }
}

@media (max-width: 56em) {
  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 1rem;
  }

  .image {
    width: 90%;
  }
}

@media (max-width: 26em) {
  .projectsContainer {
    height: auto;
  }

  .link {
    font-size: 0.8rem;
  }

  .flex {
    width: 75rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .image {
    width: 100%;
  }
}
