.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow-y: hidden;
  overflow-x: visible; */
  overflow: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-inner {
  padding: 20vh 5rem;
  /* min-height: 100vh; */
}

.scroll-stack-inner .scroll-stack-card:nth-child(odd) {
  background-color: rgb(9, 202, 202);
}

.scroll-stack-inner .scroll-stack-card:nth-child(even) {
  background-color: rgb(255, 145, 0);
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
  margin: 0 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
