@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding: 0 2rem 2rem 2rem;
  position: relative;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  background-color: hsla(240, 90%, 10%, 1);
  background-image: radial-gradient(
      at 97% 4%,
      hsla(220, 81%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 22% 42%, hsla(188, 66%, 40%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 90%, hsla(190, 76%, 33%, 1) 0px, transparent 50%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
