@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding: 0 2rem 2rem 2rem;
  position: relative;

  background: linear-gradient(
    135deg,
    #0f4881 0%,
    #0f4881 40%,
    #50aca6 45%,
    #50aca6 46%,
    #068995 50%,
    #50aca6 55%,
    #50aca6 56%,
    #068995 60%,
    #0f4881 75%
  );

  /* background: linear-gradient(135deg, #264a7cc7, #098490, #034643, #10655a); */
  background-size: 400% 400%; /* For smooth animation */
  animation: gradientAnimation 50s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  /* background-color: hsla(240, 90%, 10%, 1);
  background-image: radial-gradient(
      at 97% 4%,
      hsla(220, 81%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 22% 42%, hsla(188, 66%, 40%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 90%, hsla(190, 76%, 33%, 1) 0px, transparent 50%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.swiper {
  height: 23rem;
  width: 50%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media (max-width: 58em) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 83px;
  }

  .swiper-cube .swiper-cube-shadow {
    bottom: 24px;
  }
}

@media (max-width: 56em) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 85px;
  }

  .swiper-cube .swiper-cube-shadow {
    bottom: 35px;
  }
}

@media (max-width: 26em) {
  body {
    animation: gradientAnimation 20s ease infinite;
  }

  .swiper {
    height: 15rem;
    width: 15rem;
  }

  .swiper-slide {
    gap: 0.8rem;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 64px;
  }

  .swiper-cube .swiper-cube-shadow {
    bottom: 47px;
  }
}

@media (max-width: 23em) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 64px;
  }

  .swiper-cube .swiper-cube-shadow {
    bottom: 46px;
  }
}
